@import '../../Assets/styles/mixins.sass'

.favWrapper
 .back
  margin-bottom: 40px

 .favBooks 
  margin-bottom: 70px
  .favCard
   margin-bottom: 50px
   &:last-child    
    margin-bottom: 0

.popularBooks 
 margin-bottom: 110px
 .popularBooksTitle
  margin-bottom: 50px