@import '../../Assets/styles/mixins.sass'

.tabSwitcher
  width: 100%
  display: flex
  gap: 40px
  align-items: center
  user-select: none
  background-color: $white
  border-bottom: 1px solid $gray

  .tab
    cursor: pointer
    padding: 0 40px 24px
    +interRegular(16px, $secondary)

    &:last-child
    margin-right: 0

  .active
    +interSemiBold(16px, $primary)
    border-bottom: 2px solid $primary

  .tabAuth
    cursor: pointer
    padding: 0 40px 20px
    +BebasNeueH3(24px, $secondary)
    width: 40%
    display: flex
    justify-content: center

  .authActive
    +BebasNeueH3(24px, $primary)
    border-bottom: 2px solid $primary

.authWrapper
  justify-content: space-evenly
