@import '../../Assets/styles/mixins.sass'

.resetWrapper
   width: 550px
   margin: 0 auto 
   padding: 33px 28px 40px
   border: 1px solid $gray
   .title
      margin-bottom: 30px
   .value
      margin-bottom: 5px
      +interBold(16px)
   .input
      margin-bottom: 16px
   .btn
      margin-top: 30px
   .msg
      padding: 20px
   .errorMsg
      background-color: $light-red
      +interRegular(16px)
   .okMsg
      background-color: $purple
      +interRegular(16px)
      display: flex
      justify-content: space-between
      align-items: center
   .link
      +interBold(16px)
      cursor: pointer
 