@import '../../Assets/styles/mixins.sass'

.headerWrapper
 border-bottom: 1px solid $gray
 display: flex
 align-items: center
 margin-bottom: 70px
 padding: 24px 0

 .logo
  margin-right: 151px
  cursor: pointer

 .search
  width: 542px
  margin-right: 121px

 .navLinks
  display: flex
  gap: 30px

  .link
   position: relative

  .linkActive
   &::after
    position: absolute
    content: ''
    min-width: 8px
    min-height: 8px
    border-radius: 50%
    background-color: $light-red
    top: 4px
    right: 4px