@import '../../Assets/styles/mixins.sass'

.bookWrapper
 .back
  margin-bottom: 35px
  cursor: pointer

.switcher
 margin-top: 70px

.infoText
 padding: 50px 0
 +interRegular
 line-height: 32px

.similarBooks
  margin-bottom: 120px
  .similarBooksTitle
    margin-bottom: 50px